

body {
  margin: 20px;
  padding: 0;
  background-color:#786d5f;
}



* {
  box-sizing: border-box;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.wrapper {
  position: relative;
  min-height: 20vh;
}

header {
  padding: 50px 0px;
  
}

button {
  background-color: transparent;
  border: none;
}

#little-search {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid #040616;
}

#little-search * {
  cursor: pointer;
}

.little-search_button{
  padding: 0 100px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 20px
}

.divider {
  flex-basis: 1px;
  background-color: #dddddd;
  height: 50px;
}

h1{
  margin: 0;
  padding: 0;
  font-size:50px;
  color: white;
  font-weight: normal;
  text-align: center;
}